# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Reference gitconfig
export GITCONFIG="$HOME/.gitconfig"

# Set the atom home folder
export ATOM_HOME="$HOME/.atom/"

# Make nano the default editor
export EDITOR="vim";

# Export Ruby to the PATH
export GEMPATH='~/.rbenv/versions/$(rbenv --version-name)/bin'

# Use brew php in CLI env
#export PATH="$(brew --prefix homebrew/php/php55)/bin:$PATH"
export PATH="$(brew --prefix homebrew/php/php71)/bin:$PATH"

# Use brew sbin to path
export PATH="/usr/local/sbin:$PATH"

# Add yarn to the path
export PATH="$HOME/.yarn/bin:$PATH"

# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";

# Avoid issues with `gpg` as installed via Homebrew
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);
