[alias]

  # Staging & commiting
  a = add
  aa = add .
  c = commit
  c-msg = commit -m
  c-amend = commit --amend
  c-no-verify = commit --no-verify
  discard = checkout --
  discard-all = checkout -- *

  # Branching
  co = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  branch-rm = branch -d
  branch-mv = branch -m
  branch-cleanup = remote update --prune
  branch-rm-remote = "!f() { git branch -d $1; git push origin --delete $1; }; f"
  branch-mv-rem = "!f() { git branch -m $1 $2; git push origin --delete $1; git push --set-upstream origin $2: }; f"
  branch-refresh = fetch origin --prune

  # Remotes
  cl = clone
  pl = pull
  ps = push
  ps-no-verify = push --no-verify
  ps-tags = push --tags
  ps-force = push --force
  ps-remote = push -u origin
  ro = remote add origin
  f = fetch origin

  # Controlling
  d = diff
  l = log
  l-oneline = log --oneline
  l-search = log -S
  s = status
  ss = status -s
  stats = shortlog -sn
  today = diff --shortstat "@{0 day ago}"

  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  br = branch -a -v
  remotes = remote -v

  # Temporarily disable GPG signing for use of Github Desktop.app
  nogpg = config --global commit.gpgsign false
  gpg = config --global commit.gpgsign true

[apply]

  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = /Users/thibaultmaekelbergh/.config/.gitignore
  attributesfile = ~/.gitattributes

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

[color]

  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]

  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]

  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]

  added = yellow
  changed = green
  untracked = cyan

[diff]

  # Detect copies as well as renames
  renames = copies

[help]

  # Automatically correct and execute mistyped commands
  autocorrect = 1

[merge]

  # Include summaries of merged commits in newly created merge commit messages
  log = true

[push]

  # Use the Git 1.x.x default to avoid errors on machines with old Git
  # installations. To use `simple` instead, add this to your `~/.extra` file:
  # `git config --global push.default simple`. See http://git.io/mMah-w.
  default = matching

# URL shorthands

[url "git@github.com:"]

  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

  insteadOf = "github:"

[url "git@gist.github.com:"]

  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

  insteadOf = "gist:"
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[user]
  name = Thibault Maekelbergh
  email = thibault.maekelbergh@icloud.com
  signingkey = 1510A2114D4A3CB4
[credential]
  helper = osxkeychain
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
